Ini adalah library yang diperlukan untuk menjalan notebook.

- jupyterlab
- pandas
- numpy
- pickle
- scikit-learn
- wordcloud
- matplotlib
- scikit-learn-extra
- pyclustering
- yellowbrick

Cara menginstalya cukup dengan ketikkan 'pip install <nama_library>' di terminal/CMD

Contoh:
'pip install pandas numpy pickle' akan menginstall library pandas, numpy, dan pickle.